[Unit]
Description=sing-box (%i)

Wants=network-online.target
After=network-online.target

StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target

[Service]
User=sing-box
Group=sing-box

PrivateTmp=yes
DeviceAllow=/dev/null rw
DeviceAllow=/dev/random r
DeviceAllow=/dev/urandom r
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths=/var/lib/sing-box
MemoryDenyWriteExecute=true

Type=simple

LogRateLimitIntervalSec=0

ExecStartPre=/usr/bin/mkdir --parents /var/lib/sing-box/%i
ExecStart=/usr/bin/sing-box run --config-directory /etc/sing-box/%i --directory /var/lib/sing-box/%i --disable-color

AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_ADMIN

Restart=always
RestartSec=10
